<div class="todo-item d-flex align-items-start gap-3 p-3 mb-2 rounded">
    <div class="flex-grow-1">
        <span class="todo-title d-block">{{title}}</span>
        {{#if description}}
            <small class="text-muted">{{description}}</small>
        {{/if}}
    </div>
</div>