<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <div class="container py-4 py-md-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="d-flex justify-content-end gap-2 mb-3">
                    {{#if isAuthenticated}}
                        <form action="/auth/logout" method="post" class="d-inline">
                            <button type="submit" class="btn btn-outline-danger btn-sm" title="Logout">
                                <i class="bi bi-box-arrow-right"></i>
                            </button>
                        </form>
                    {{/if}}
                </div>
                {{{body}}}
            </div>
        </div>
    </div>
    
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>